body {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    background-color: #DED0B6;
    color: #333; 
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: ‘Dekko’;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBAB8C;
    color: #FDF7E4;
    padding: 1vw; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.header-section {
    flex: 1;
    text-align: center;
}
.header-section h1 {
    font-size: 2.5vw; 
}

.header-section p, .item p {
    font-size: 1.2vw; 
}

.logo-section {
    text-align: left;
}

.settings-section {
    text-align: right; 
}

.logo {
    width: 400px; 
    height: auto;
    max-width: 250px;
    background:  #BBAB8C; 
}
.settings-icon {
    width: 2vw; 
    height: auto;
    max-width: 60px;
    background:  #BBAB8C; 
}
.header-section p {
    margin: 5px 0;
    font-size: 2em; 
}
.page-container {
    background-color: #F2F4EF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: 20px auto;
    max-width: 65vw; /* Responsive width */
    padding: 2vw; /* Responsive padding */
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust grid items based on available space */
    gap: 20px;
}

.item {
    background-color: #DED0B6;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative; /* Added for positioning the image */
    overflow: hidden;
    max-width: 100%; /* Prevents overflow */
    background-size: cover; /* Cover the entire container */
    background-position: center;
}

.item img {
    border-radius: 12px;
    float: left;
    width:  25em;
    height: 10em;
    object-fit: cover;
    display: block;
    
    object-position: center; 
}

.item h3 {
    color: #030305;
    object-fit: contain;
    border-radius: 12px;
    margin:0;
    background-color: #DED0B6;
    font-size: 2em;
    padding-top: 7px;
    padding-bottom: 5px;
    font-family: ‘Dekko’;
}


.item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    opacity: 0.8;
}
.pictures
{
    border-radius: 12px;
}

@media screen and (max-width: 1200px) {
    .item {
        width: 40vw; /* Larger items on smaller screens */
    }
}

@media screen and (max-width: 308px) {
    .item-list {
        grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    }
}

@media screen and (max-width: 180px) {
    .item-list {
        grid-template-columns: 1fr; /* 1 column layout */
    }

    .logo, .settings-icon {
        width: 10vw; /* Larger icons on very small screens */
    }
}
