{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HelpUsChoose</title>
		<link href=’https://fonts.googleapis.com/css?family=Dekko’ rel=’stylesheet’>
		<link rel="stylesheet" href="{% static 'mainpage/style.css' %}" />
	</head>

	<body>
		<header>
			<div class="header-section logo-section">
				<img src="{% static 'mainpage/logo.png' %}" alt="Logo" class="logo" />
				<p>HelpUsChoose</p>
			</div>
			<div class="header-section quote-section">
				<h1>Strona dla niezdecydowanych</h1>
			</div>
			<div class="header-section settings-section">
				<img src="{% static 'mainpage/settings.png' %}" alt="settings-icon" class="settings-icon" />
			</div>
		</header>
		<div class="page-container">
			<section class="item-list">
				{% if categories_list %} {% for category in categories_list %}
				<div class="item">
					<h3>{{ category.name }}</h3>
					<img src="{% static 'mainpage/' %}{{ category.img_src }}" />
				</div>
				{% endfor %} {% else %}
				<p>No polls are available.</p>
				{% endif %}
			</section>
		</div>
	</body>
</html>
